.primaryColor {
 background-color: #FEF3E2;
}

.secondaryColor {
    /* background-color: #BEC6A0; */
    background-color: #4E4E4E;;
}

.tirtiryColor {
    /* background-color: #708871; */
    background-color: #223623;
}

.tirtiryColorTrans {
    background-color: #70887171;
}

.fourthColor {
    background-color: #606676;
}

:root {
    --body_background: #FEF3E2;
    --body_color: black;
    --nav_color: #708871;
    --box_background:#BEC6A0;
}

[data-theme="dark"] {
    --body_background: #2E2E2E;
    --body_color: #dadada;
    --nav_color: #223623;
    --box_background: #4E4E4E;
}

* {
    transition: all 0.4s ease-in-out;
}

body {
    display: block;
    margin: auto;
    color: var(--body_color);
    background-color: var(--body_background);
}


nav {
    height: 50px;
    width: 100vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: var(--nav_color);
    box-shadow: 0 1px 30px 3px #0d100d;

}
.navSize {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width:1500px;
    height: 100%;   
    margin: auto;
}

.NavContainer {
    width:fit-content;
    height: 100%;
    display: flex;
    align-items: center; /* Vertical */
    margin: 0 10px;
}
    .NavLeft {
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: #FEF3E2;
        margin-left: 30px;
    }

    /* Toggle switch */
    
    .toggleImg {
        /* Add Friend button */
        width: 27px;
        object-fit: cover;
        margin: 2px;
        border-radius: 7px;
    }

    .AddIcon:hover {
        background-color: #BEC6A0;
    }

    /* From Uiverse.io by juanpabl0svn */ 
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.5em;
    cursor: pointer;
    margin: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5494de;
    transition: 0.5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
    background: var(--nav_color);
    transition: 0.5s;
  }
  
  .decoration {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 20%;
    top: 15%;
    background: #e4f041bc;
    backdrop-filter: blur(10px);
    background: white;
    box-shadow: -12px 0 0 white, -6px 0 0 1.6px white, 5px 15px 0 1px white,
      1px 17px 0 white, 10px 17px 0 white;}
  
  input:checked ~ .decoration {
    transform: translateX(-20px);
    height: 3px;
    width: 3px;
    background: #e4f041bc;
    backdrop-filter: blur(10px);
    box-shadow: -7px 10px 0 #e4f04174, 8px 15px 0 #e5f041e6, -17px 1px 0 #e4f041a3,
        -20px 10px 0 #e0e77fab, -7px 23px 0 #e4f041ad, -15px 25px 0 #e5f041e6;
    
  }
  
  input:checked + .slider {
    --background: #20262c;
    background-color:var(--nav_color);
    border-width: 3px;
    border-style: solid;
    border-color: var(--background);
  }
  
  input:checked + .slider:before {
    transform: translateX(140%);
    box-shadow: inset 8px -3px 4px 1px #ececd9, -8px 4px 19px 1px #dadadad1, 8px -2px 0px -3px var(--nav_color);
  }
  




/* Friends Container */
.friendsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top:50px;
    width:90vw;
    max-width: 1060px;
    margin: auto;
    height: auto;
    padding: 10px 5px;
    overflow: auto;
}

/* Friends Card */
.FrdCard {
    margin: 10px;
    width: 85vw;
    max-width: 300px;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--box_background);
}


.CardTop {
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.CardTopContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.CardTopContainer button {
    height: 35px;
    width: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0.384);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    
}
.EditIcon {
    object-fit: cover;
    width: 100%;
}

.CardTopContainer button:hover {
    background-color: rgba(255, 255, 255, 0.737);
    transition: 1s;
}

.CardTopContainer p {

    min-width: 160px;
    margin: 10px;
    font-size: .8rem;

}

.CardTopContainer span {
    font-size: 1.1rem;
}
.FrdPic {
    height: 35px;
    width: 35px;
    border-radius:50%;
    background-color: #FEF3E2;
    height: auto;
    object-fit: cover;
}

/* Add Block */
.FrdCardBlock {
    position: relative;
    margin: 10px;
    width: 85vw;
    max-width: 300px;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: dashed;
    border-color: var(--box_background);
}
.AddBlock {
    position: absolute;
    border-style: dashed;
    border-color: var(--box_background);
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This centers the child within the parent */
    border-radius: 25%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.plus {
    font-size: 30px;
    font-weight: bold;
    color: darkgray;
    margin: auto;
}
.FrdCardBlock:hover {
    background-color: var(--box_background);
}


/* Add Friend Section */
.AddFrdOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width:100% ;
    height:100% ;
    justify-content: center;
    justify-items: center;
    background: rgba(0, 0, 0, 0.5);/* Transparent white background */
    
    backdrop-filter: blur(5px); /* Blur effect */

}
.AddFrdBox {
    width: 85vw;
    height: fit-content;
    padding: 5vw;
    top: 10%;
    position: fixed;
    border-radius: 10px;
    background-color: var(--box_background);
}

.NameRole {
    display: flex;
    flex-direction: row;
}

.genderInput {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.input {
    width: 90%;
    min-height: 30px;
    height: fit-content;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    color: var(--body_color);
}

/* Radio Btn */
/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Style the custom radio container */
.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
   
}

/* Create the custom radio button circle */
.radio-mark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #6200ea;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    background-color: transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Add the dot inside when checked */
input[type="radio"]:checked + .radio-mark {
    background-color: #6200ea;
    border-color: #6200ea;
}

input[type="radio"]:checked + .radio-mark::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hover effect */
.custom-radio:hover .radio-mark {
    border-color: #3700b3;
}


.AddFrdBtnContainer {
    width: 250px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    float: right;
}

.AddFrdBtnContainer button {
    width: 40%;
    margin: 20px 15px 0 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #BEC6A0;
}


@media only screen and (min-width: 600px) {
    .AddFrdBox {
        width: 510px;
        height: fit-content;
        padding: 30px;
        top: 20%;
        position: fixed;
        border-radius: 10px;
    }

    .friendsContainer {
        justify-content: flex-start;
    }
}

